<section class="search" role="search">
  <form method="GET" role="post" class="search__form">
    <label for="search" class="search__form--label">
      <i class="fas fa-video search__form--labelIcon"></i> What's on
      Codeflix?</label
    >
    <div class="search__form--wrapper">
      <i class="fas fa-search search__form--inputIcon"></i>
      <input
        type="text"
        id="search"
        name="search"
        placeholder="Find your favourite tv show"
        class="search__form--input js-input"
      />
    </div>
    <input type="button" value="Search" class="search__form--btn js-btn" />
  </form>
</section>
