/* reset */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-color: #14d9c4;
}

/* header */

.header {
  display: flex;
  flex-direction: column;
  padding: 5px 20px;
  background-color: #099d8d;
}

.header__logo {
  width: 200px;
  position: relative;
  top: 15px;
  color: #ffffff;
}

.header__claim {
  width: 500px;
  padding: 10px;
  position: relative;
  top: 21.5px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  background-color: #ffffff;
  opacity: 80%;
}

/* main */

.main {
  display: flex;
  flex-direction: row;
  padding: 30px 0;
}

/* search section */

.aside__section {
  width: 20%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.form {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.label {
  margin: 5px;
}

.input {
  width: 300px;
  margin: 5px;
}
.input[placeholder] {
  padding: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.btn {
  width: 100px;
  padding: 10px;
  margin: 5px;
  background-color: #099d8d;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.35);
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color ease 0.5s;
}

.btn:hover {
  background-color: #ffffff;
  color: #099d8d;
}

/* favourites section */

.aside__section--favourites {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

/* results section */

.results__section {
  width: 80%;
  display: flex;
  flex-direction: row;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}

.results__section--list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.show__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 300px;
  max-height: 400px;
  padding: 40px 10px 5px 10px;
  background-color: #099d8d;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.35);
}

.show__image {
  width: fit-content;
  border-radius: 10px;
  border: 5px solid #14d9c4;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.35);
}

.show__title {
  text-align: center;
}

.show__wrapper--fav {
  background-color: #d5d5d5;
}

.show__title--fav {
  color: #099d8d;
}
