/* reset */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  background-color: #14d9c4;
}

/* header */

.header {
  display: flex;
  flex-direction: column;
  padding: 5px 20px;
  background-color: #099d8d;
}

.header__logo {
  width: 200px;
  position: relative;
  top: 15px;
  color: #ffffff;
}

.header__claim {
  width: 500px;
  padding: 10px;
  position: relative;
  top: 21.5px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  background-color: #ffffff;
  opacity: 80%;
}

/* main */

.main {
  display: flex;
  flex-direction: row;
  padding: 30px 0;
}

/* search section */

.aside {
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.fa-search {
  margin-right: 10px;
}

.label {
  font-size: 30px;
  margin-bottom: 5px;
}

.input {
  width: 300px;
  margin: 5px;
}
.input[placeholder] {
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  border: solid #099d8d;
}

.btn {
  width: 100px;
  padding: 10px;
  margin: 10px 0 30px 5px;
  background-color: #099d8d;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.35);
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color ease 0.5s;
}

.btn:hover {
  background-color: #ffffff;
  color: #099d8d;
}

/* favourites section */

.aside__favourites {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  border-top: solid #099d8d;
}

.aside__favourites--list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.favshow__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  padding: 20px 20px;
  margin: 10px;
  background-color: #d5d5d5;
  border-radius: 10px;
  border: solid #099d8d;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.35);
}

.favshow__image {
  width: 100px;
  margin-right: 10px;
}

.favshow__title {
  color: #099d8d;
  text-align: center;
}

.favshow__button {
  font-size: 15px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  cursor: pointer;
  color: #099d8d;
  border: solid #099d8d;
}

/* results section */

.results__section {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}

.results__section--list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.show__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 300px;
  max-height: 400px;
  padding: 40px 10px 5px 10px;
  background-color: #099d8d;
  cursor: pointer;
  border: solid #099d8d;
  border-radius: 20px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.35);
}

.show__image {
  width: fit-content;
  border-radius: 10px;
  border: 5px solid #14d9c4;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.35);
}

.show__title {
  text-align: center;
}

.show__wrapper--fav {
  background-color: #d5d5d5;
}

.show__title--fav {
  color: #099d8d;
}

/* Reset */

.btn__reset {
  position: relative;
  bottom: 60px;
  left: 90px;
  width: 60px;
  height: 30px;
  padding: auto;
  margin: 5px;
  background-color: #099d8d;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.35);
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color ease 0.5s;
}

.btn__reset:hover {
  background-color: #ffffff;
  color: #099d8d;
}

/* footer */

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #099d8d;
}

.small {
  position: relative;
  top: 10px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
}
